workflows/01a-scanner-greenhouse.json
{
  "name": "JobSignal - Workflow 1a - Scanner (Greenhouse)",
  "nodes": [
    {
      "parameters": {},
      "id": "c632248b-dce8-48b1-82e6-80de74cc31b0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tbl5yytlFEcocSK2v",
          "mode": "list",
          "cachedResultName": "Tracked Companies",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tbl5yytlFEcocSK2v"
        },
        "filterByFormula": "=AND({Enabled}=TRUE(),{Scan Method}='Greenhouse API')",
        "options": {}
      },
      "id": "d1b68c76-80a8-4a6f-adb7-9f0f71008045",
      "name": "Get Tracked Companies",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        -400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ffa88fb-5781-4b0f-8ca5-c7dc2e91972a",
      "name": "Loop Companies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        -400
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['API Endpoint'] : $('Get Tracked Companies').item.json['API Endpoint'] }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "5371b5f5-3595-4121-a8de-3131f41bf812",
      "name": "Fetch Greenhouse API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -400
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse Greenhouse API response, filter by title keywords AND geography\nconst apiResponse = $input.first().json;\n\nconst prep = $('Prepare Company Data').item.json;\nconst companyName = prep.companyName;\nconst keywordsRaw = prep.titleKeywords || '';\nconst apiEndpoint = prep.apiEndpoint;\n\nif (!companyName) {\n  throw new Error('Company Name missing from Prepare Company Data node.');\n}\n\n// Dynamic geography from Profile table\nconst profileData = $('Get Profile').first().json;\nconst geoField = profileData.fields \n  ? profileData.fields['Target Geography'] \n  : profileData['Target Geography'];\nconst userGeographies = Array.isArray(geoField) ? geoField : ['Remote Global'];\n\nconst GEO_MAP = {\n  'Canada': ['canada', 'toronto', 'vancouver', 'montreal', 'ottawa', 'calgary', 'mississauga', 'remote - canada', 'remote canada'],\n  'USA': ['united states', 'usa', 'us only', 'remote - us', 'remote us', 'new york', 'san francisco', 'los angeles', 'seattle', 'chicago', 'austin', 'boston'],\n  'Remote Global': ['remote', 'worldwide', 'global', 'anywhere'],\n  'Remote North America': ['remote - north america', 'remote north america', 'remote - na', 'remote us', 'remote canada'],\n  'Remote Canada': ['remote - canada', 'remote canada'],\n  'EMEA': ['emea', 'europe', 'london', 'berlin', 'paris', 'amsterdam', 'dublin'],\n  'Remote Europe': ['remote - europe', 'remote europe', 'remote - emea', 'remote emea'],\n  'UK': ['united kingdom', 'uk', 'london', 'manchester', 'edinburgh'],\n  'Germany': ['germany', 'berlin', 'munich', 'hamburg', 'frankfurt'],\n  'Netherlands': ['netherlands', 'amsterdam', 'rotterdam', 'the hague'],\n  'France': ['france', 'paris', 'lyon', 'marseille'],\n  'Ireland': ['ireland', 'dublin', 'cork'],\n  'Australia': ['australia', 'sydney', 'melbourne', 'brisbane'],\n  'Singapore': ['singapore'],\n  'India': ['india', 'bangalore', 'bengaluru', 'mumbai', 'hyderabad', 'pune', 'delhi', 'gurgaon', 'noida'],\n  'APAC': ['apac', 'asia', 'singapore', 'tokyo', 'sydney', 'australia'],\n  'Remote APAC': ['remote - apac', 'remote apac', 'remote - asia', 'remote asia'],\n  'Remote LATAM': ['remote - latam', 'remote latam', 'remote - latin america']\n};\n\nconst allowedLocationKeywords = new Set();\nfor (const geo of userGeographies) {\n  const geoKws = GEO_MAP[geo] || [];\n  geoKws.forEach(kw => allowedLocationKeywords.add(kw));\n}\n\nconst matchesGeography = (locationName) => {\n  if (!locationName) return false;\n  if (allowedLocationKeywords.size === 0) return true;\n  const loc = locationName.toLowerCase();\n  for (const kw of allowedLocationKeywords) {\n    if (loc.includes(kw)) {\n      if (kw === 'remote' && (loc.includes('us only') || loc.includes('united states only'))) {\n        if (!userGeographies.includes('USA')) continue;\n      }\n      return true;\n    }\n  }\n  return false;\n};\n\nconst keywords = keywordsRaw\n  .split(',')\n  .map(k => k.trim().toLowerCase())\n  .filter(k => k.length > 0);\n\nconst jobs = (apiResponse && apiResponse.jobs) ? apiResponse.jobs : [];\n\nif (jobs.length === 0) {\n  return [{\n    json: {\n      _empty: true,\n      _company: companyName,\n      detailUrl: 'https://boards-api.greenhouse.io/v1/boards/airtable/jobs'\n    }\n  }];\n}\n\nconst titleFiltered = jobs.filter(job => {\n  if (keywords.length === 0) return true;\n  const title = (job.title || '').toLowerCase();\n  return keywords.some(kw => title.includes(kw));\n});\n\nconst filtered = titleFiltered.filter(job => {\n  const locationName = (job.location && job.location.name) || '';\n  return matchesGeography(locationName);\n});\n\nif (filtered.length === 0) {\n  return [{\n    json: {\n      _empty: true,\n      _company: companyName,\n      detailUrl: 'https://boards-api.greenhouse.io/v1/boards/airtable/jobs'\n    }\n  }];\n}\n\nconst fnv1aHash = (str) => {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = Math.imul(hash, 0x01000193);\n  }\n  return (hash >>> 0).toString(16).padStart(8, '0');\n};\n\nconst items = filtered.map(job => {\n  const title = job.title || 'Untitled';\n  const location = (job.location && job.location.name) || 'Not specified';\n  const applyLink = job.absolute_url || '';\n  const detailUrl = `${apiEndpoint}/${job.id}`;\n  \n  const hashInput = `${title}|${companyName}|${applyLink}`;\n  const jobId = fnv1aHash(hashInput) + '-' + companyName.substring(0, 3).toLowerCase();\n  \n  return {\n    json: {\n      jobId: jobId,\n      jobTitle: title,\n      company: companyName,\n      location: location,\n      applyLink: applyLink,\n      detailUrl: detailUrl,\n      source: 'Greenhouse',\n      sourceQuery: companyName,\n      sourceTag: 'Tracked Company',\n      discoveryDate: new Date().toISOString().split('T')[0]\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "9807b7eb-0041-4583-94a0-123a4e5e487c",
      "name": "Parse & Filter Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -400
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "ca2cff47-a73c-47e0-93a3-107670c865c9",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2176,
        -400
      ],
      "webhookId": "19283bc2-b7de-4218-af83-19a1c98449de"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all company loops into a single deduplicated list\n// This runs after Loop Companies completes all iterations\n\nconst allItems = $input.all();\n\n// Filter out summary-only items (those with _empty flag) and keep real job items\nconst realJobs = allItems.filter(item => !item.json._empty && item.json.jobId);\n\n// In-memory deduplication by jobId (in case same job appeared in multiple companies, unlikely but defensive)\nconst seen = new Set();\nconst unique = [];\nfor (const item of realJobs) {\n  if (!seen.has(item.json.jobId)) {\n    seen.add(item.json.jobId);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "id": "832ab024-0c5a-47df-8487-72961bd0c2cb",
      "name": "Aggregate All Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -688
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tblqvCvqMIczRGjLi",
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tblqvCvqMIczRGjLi"
        },
        "options": {
          "fields": [
            "Job ID"
          ]
        }
      },
      "id": "bf70a865-5d1d-4b77-81ca-568ade91b576",
      "name": "Get Existing Job IDs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2496,
        -400
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter aggregated jobs against existing Job IDs in Pipeline (deduplication)\n\nconst aggregatedJobs = $('Aggregate All Jobs').all();\nconst existingRecords = $('Get Existing Job IDs').all();\n\nconst existingIds = new Set();\nfor (const record of existingRecords) {\n  let jobId = null;\n  if (record.json.fields && record.json.fields['Job ID']) {\n    jobId = record.json.fields['Job ID'];\n  } else if (record.json['Job ID']) {\n    jobId = record.json['Job ID'];\n  }\n  if (jobId) existingIds.add(jobId);\n}\n\nconst netNew = aggregatedJobs.filter(item => !existingIds.has(item.json.jobId));\n\n// Safety brake: cap at 100 new records per run\nif (netNew.length > 100) {\n  throw new Error(`Safety brake: ${netNew.length} net-new jobs exceeds 100 limit. Review your Tracked Companies title keywords — they may be too broad. Increase the cap in this Code node if this is intentional.`);\n}\n\nif (netNew.length === 0) {\n  return [{ json: { _empty: true, _message: `${aggregatedJobs.length} jobs found, all already in Pipeline` } }];\n}\n\nreturn netNew;"
      },
      "id": "b9a7cb59-e86d-49c6-8f98-a436c10bd8fd",
      "name": "Deduplicate vs Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        -400
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tblqvCvqMIczRGjLi",
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tblqvCvqMIczRGjLi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "={{ $json.jobId }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Company": "={{ $json.company }}",
            "Location": "={{ $json.location }}",
            "Apply Link": "={{ $json.applyLink }}",
            "Job Description": "={{ $json.jobDescription }}",
            "Source": "={{ $json.source }}",
            "Source Query": "={{ $json.sourceQuery }}",
            "Source Tag": "={{ $json.sourceTag }}",
            "Discovery Date": "={{ $json.discoveryDate }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Apply Link",
              "displayName": "Apply Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LinkedIn",
                  "value": "LinkedIn"
                },
                {
                  "name": "Indeed",
                  "value": "Indeed"
                },
                {
                  "name": "Glassdoor",
                  "value": "Glassdoor"
                },
                {
                  "name": "Google Jobs",
                  "value": "Google Jobs"
                },
                {
                  "name": "ZipRecruiter",
                  "value": "ZipRecruiter"
                },
                {
                  "name": "Greenhouse",
                  "value": "Greenhouse"
                },
                {
                  "name": "Ashby",
                  "value": "Ashby"
                },
                {
                  "name": "Lever",
                  "value": "Lever"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source Query",
              "displayName": "Source Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source Tag",
              "displayName": "Source Tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Discovery Date",
              "displayName": "Discovery Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Evaluated",
                  "value": "Evaluated"
                },
                {
                  "name": "Shortlisted",
                  "value": "Shortlisted"
                },
                {
                  "name": "Applied",
                  "value": "Applied"
                },
                {
                  "name": "Interview",
                  "value": "Interview"
                },
                {
                  "name": "Offer",
                  "value": "Offer"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fit Score",
              "displayName": "Fit Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fit Tier",
              "displayName": "Fit Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Match Reasoning",
              "displayName": "Match Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matched Skills",
              "displayName": "Matched Skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CV Tailoring Notes",
              "displayName": "CV Tailoring Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Salary Info",
              "displayName": "Salary Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Evaluation Cost",
              "displayName": "AI Evaluation Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Applied Date",
              "displayName": "Applied Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response Date",
              "displayName": "Response Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outcome Notes",
              "displayName": "Outcome Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "16d06f77-2bc5-47c9-ae6e-44dc64445b0f",
      "name": "Create Pipeline Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3040,
        -400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd687e2f-f8d4-49f0-8bcf-3a06dd200c9b",
              "name": "apiEndpoint",
              "value": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['API Endpoint'] : $('Get Tracked Companies').item.json['API Endpoint'] }}",
              "type": "string"
            },
            {
              "id": "ac290c14-c5d2-4acd-822c-c0efdaf76dd4",
              "name": "companyName",
              "value": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['Company Name'] : $('Get Tracked Companies').item.json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "dd725699-ddc3-40db-baf4-6c2c8aec2d84",
              "name": "titleKeywords",
              "value": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['Title Keywords'] : $('Get Tracked Companies').item.json['Title Keywords'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -400
      ],
      "id": "bdf955bf-8305-46ef-91a2-23bca7861336",
      "name": "Prepare Company Data"
    },
    {
      "parameters": {
        "url": "={{ $json.detailUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        -400
      ],
      "id": "c385186e-4209-4bad-9c5e-ea03d30b4934",
      "name": "Fetch Job Detail",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst parsedJobs = $('Parse & Filter Jobs').all();\n\n// Two-step stripper: decode entities first, then strip tags\nconst stripHtml = (html) => {\n  if (!html || typeof html !== 'string') return '';\n  \n  let text = html;\n  \n  // STEP 1: Decode HTML entities (Greenhouse double-encodes their content)\n  // This turns &lt;div&gt; into <div> so we can then strip it\n  text = text.split('&lt;').join('<');\n  text = text.split('&gt;').join('>');\n  text = text.split('&quot;').join('\"');\n  text = text.split('&#39;').join(\"'\");\n  text = text.split('&apos;').join(\"'\");\n  text = text.split('&nbsp;').join(' ');\n  text = text.split('&amp;').join('&');  // Must be last to avoid re-decoding\n  \n  // STEP 2: Now strip the actual HTML tags using character walking\n  let result = '';\n  let inTag = false;\n  for (let i = 0; i < text.length; i++) {\n    const ch = text[i];\n    if (ch === '<') {\n      inTag = true;\n      // Add space when closing block-level tags for readability\n      const lookahead = text.substring(i, i + 5).toLowerCase();\n      if (lookahead.startsWith('</p>') || lookahead.startsWith('</div') || \n          lookahead.startsWith('</li>') || lookahead.startsWith('</h1>') ||\n          lookahead.startsWith('</h2>') || lookahead.startsWith('</h3>') ||\n          lookahead.startsWith('<br') || lookahead.startsWith('</tr>')) {\n        result += ' ';\n      }\n    } else if (ch === '>') {\n      inTag = false;\n    } else if (!inTag) {\n      result += ch;\n    }\n  }\n  text = result;\n  \n  // STEP 3: Decode any remaining entities (numeric ones, special chars)\n  const extras = [\n    ['&hellip;', '...'],\n    ['&mdash;', '-'],\n    ['&ndash;', '-'],\n    ['&rsquo;', \"'\"],\n    ['&lsquo;', \"'\"],\n    ['&rdquo;', '\"'],\n    ['&ldquo;', '\"'],\n    ['&#8217;', \"'\"],\n    ['&#8220;', '\"'],\n    ['&#8221;', '\"']\n  ];\n  for (const [entity, replacement] of extras) {\n    text = text.split(entity).join(replacement);\n  }\n  \n  // STEP 4: Collapse whitespace\n  while (text.indexOf('  ') !== -1) {\n    text = text.split('  ').join(' ');\n  }\n  \n  return text.trim();\n};\n\nconst merged = [];\nfor (let i = 0; i < allInputs.length; i++) {\n  const detailResponse = allInputs[i].json;\n  const parsedJob = parsedJobs[i] ? parsedJobs[i].json : null;\n  \n  if (!parsedJob || parsedJob._empty) {\n    merged.push({\n      json: {\n        _empty: true,\n        _company: parsedJob ? parsedJob._company : 'unknown'\n      }\n    });\n    continue;\n  }\n  \n  const description = stripHtml(detailResponse.content || '[Description not available]');\n  \n  merged.push({\n    json: {\n      jobId: parsedJob.jobId,\n      jobTitle: parsedJob.jobTitle,\n      company: parsedJob.company,\n      location: parsedJob.location,\n      applyLink: parsedJob.applyLink,\n      jobDescription: description,\n      source: parsedJob.source,\n      sourceQuery: parsedJob.sourceQuery,\n      sourceTag: parsedJob.sourceTag,\n      discoveryDate: parsedJob.discoveryDate\n    }\n  });\n}\n\nif (merged.length === 0) {\n  return [{ json: { _empty: true, _company: 'placeholder' } }];\n}\n\nreturn merged;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -400
      ],
      "id": "e88063aa-e10e-4b65-a8b0-c093a30d161b",
      "name": "Merge Descriptions"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        -160
      ],
      "id": "5dcedf0f-6a77-4be6-a0d0-51d2e0326a18",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tbl4hqn6sfFVbLuzd",
          "mode": "list",
          "cachedResultName": "Profile",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tbl4hqn6sfFVbLuzd"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        352,
        -400
      ],
      "id": "00ea5696-07aa-4a3d-93fc-01c5fb5d1ef8",
      "name": "Get Profile",
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tracked Companies": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Companies": {
      "main": [
        [
          {
            "node": "Aggregate All Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Greenhouse API": {
      "main": [
        [
          {
            "node": "Parse & Filter Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Filter Jobs": {
      "main": [
        [
          {
            "node": "Fetch Job Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Jobs": {
      "main": [
        [
          {
            "node": "Get Existing Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Job IDs": {
      "main": [
        [
          {
            "node": "Deduplicate vs Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate vs Pipeline": {
      "main": [
        [
          {
            "node": "Create Pipeline Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Data": {
      "main": [
        [
          {
            "node": "Fetch Greenhouse API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Detail": {
      "main": [
        [
          {
            "node": "Merge Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Descriptions": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile": {
      "main": [
        [
          {
            "node": "Get Tracked Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8d360568-51de-4f98-bdfa-29f504d59b89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7e19fca9705d4d0c36e6fe71822071e2ec1e1c76f266658ed6763dfc41db437"
  },
  "id": "AhXIjQGk0dsR4qst",
  "tags": []
}