workflows/01c-scanner-lever.json
{
  "name": "JobSignal - Workflow 1c - Scanner (Lever)",
  "nodes": [
    {
      "parameters": {},
      "id": "3dc65d8e-192a-403b-a594-68dcf7d0ead9",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        -384
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tbl5yytlFEcocSK2v",
          "mode": "list",
          "cachedResultName": "Tracked Companies",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tbl5yytlFEcocSK2v"
        },
        "filterByFormula": "=AND({Enabled}=TRUE(),{Scan Method}='Lever API')",
        "options": {}
      },
      "id": "dfabf80a-292f-407e-a967-729e68161587",
      "name": "Get Tracked Companies",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        -384
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9bf56c1f-5281-41bb-81b4-dea2cc5f0fa4",
      "name": "Loop Companies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        -384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Lever API response, filter by title keywords AND geography\n// LEVER RETURNS A FLAT ARRAY — n8n splits it into individual items (one per job)\n// So we use $input.all() instead of $input.first().json\n\nconst allInputs = $input.all();\n\nconst prep = $('Prepare Company Data').item.json;\nconst companyName = prep.companyName;\nconst keywordsRaw = prep.titleKeywords || '';\n\nif (!companyName) {\n  throw new Error('Company Name missing from Prepare Company Data node.');\n}\n\n// Dynamic geography from Profile table\nconst profileData = $('Get Profile').first().json;\nconst geoField = profileData.fields \n  ? profileData.fields['Target Geography'] \n  : profileData['Target Geography'];\nconst userGeographies = Array.isArray(geoField) ? geoField : ['Remote Global'];\n\nconst GEO_CONFIG = {\n  'Canada': {\n    countries: ['canada'],\n    substrings: ['canada', 'toronto', 'vancouver', 'montreal', 'ottawa', 'calgary', 'mississauga', 'edmonton', 'waterloo', 'quebec'],\n    isoCodes: ['CA']\n  },\n  'USA': {\n    countries: ['united states', 'usa', 'us'],\n    substrings: ['united states', 'new york', 'san francisco', 'los angeles', 'seattle', 'chicago', 'austin', 'boston', 'denver'],\n    isoCodes: ['US']\n  },\n  'Remote Global': {\n    countries: [],\n    substrings: ['remote worldwide', 'worldwide', 'global remote', 'anywhere in the world', 'fully remote global'],\n    exactLocations: ['remote', 'worldwide', 'global', 'anywhere', 'remote - global', 'remote global'],\n    isoCodes: []\n  },\n  'Remote North America': {\n    countries: [],\n    substrings: ['remote north america', 'remote - north america', 'remote na', 'remote us/canada', 'remote us and canada', 'remote (na)', 'remote - us', 'remote - canada'],\n    exactLocations: ['remote - north america', 'remote north america'],\n    isoCodes: []\n  },\n  'Remote Canada': {\n    countries: [],\n    substrings: ['remote canada', 'remote - canada'],\n    exactLocations: ['remote - canada', 'remote canada'],\n    isoCodes: []\n  },\n  'UK': {\n    countries: ['united kingdom', 'uk', 'britain'],\n    substrings: ['united kingdom', 'london', 'manchester', 'edinburgh'],\n    isoCodes: ['GB']\n  },\n  'Germany': {\n    countries: ['germany'],\n    substrings: ['germany', 'berlin', 'munich', 'hamburg', 'frankfurt'],\n    isoCodes: ['DE']\n  },\n  'Netherlands': {\n    countries: ['netherlands'],\n    substrings: ['netherlands', 'amsterdam', 'rotterdam', 'the hague'],\n    isoCodes: ['NL']\n  },\n  'France': {\n    countries: ['france'],\n    substrings: ['france', 'paris', 'lyon', 'marseille'],\n    isoCodes: ['FR']\n  },\n  'Ireland': {\n    countries: ['ireland'],\n    substrings: ['ireland', 'dublin', 'cork'],\n    isoCodes: ['IE']\n  },\n  'Australia': {\n    countries: ['australia'],\n    substrings: ['australia', 'sydney', 'melbourne', 'brisbane'],\n    isoCodes: ['AU']\n  },\n  'Singapore': {\n    countries: ['singapore'],\n    substrings: ['singapore'],\n    isoCodes: ['SG']\n  },\n  'India': {\n    countries: ['india'],\n    substrings: ['india', 'bangalore', 'bengaluru', 'mumbai', 'hyderabad', 'pune', 'delhi', 'gurgaon', 'noida'],\n    isoCodes: ['IN']\n  },\n  'EMEA': {\n    countries: ['germany', 'france', 'spain', 'italy', 'netherlands', 'ireland', 'poland'],\n    substrings: ['emea', 'europe', 'berlin', 'paris', 'amsterdam', 'dublin', 'madrid'],\n    isoCodes: ['DE', 'FR', 'ES', 'IT', 'NL', 'IE', 'PL']\n  },\n  'Remote Europe': {\n    countries: [],\n    substrings: ['remote europe', 'remote - europe', 'remote emea', 'remote - emea'],\n    exactLocations: ['remote - europe', 'remote europe'],\n    isoCodes: []\n  },\n  'APAC': {\n    countries: ['australia', 'singapore', 'japan', 'south korea'],\n    substrings: ['apac', 'asia', 'singapore', 'tokyo', 'sydney'],\n    isoCodes: ['AU', 'SG', 'JP', 'KR']\n  },\n  'Remote APAC': {\n    countries: [],\n    substrings: ['remote apac', 'remote - apac', 'remote asia', 'remote - asia'],\n    exactLocations: ['remote - apac', 'remote apac'],\n    isoCodes: []\n  },\n  'Remote LATAM': {\n    countries: [],\n    substrings: ['remote latam', 'remote - latam', 'remote latin america', 'remote - latin america'],\n    exactLocations: ['remote - latam', 'remote latam'],\n    isoCodes: []\n  }\n};\n\n// Build active match sets from user's chosen geographies\nconst activeCountries = new Set();\nconst activeSubstrings = new Set();\nconst activeExactLocations = new Set();\nconst activeIsoCodes = new Set();\nfor (const geo of userGeographies) {\n  const cfg = GEO_CONFIG[geo];\n  if (!cfg) continue;\n  (cfg.countries || []).forEach(c => activeCountries.add(c.toLowerCase()));\n  (cfg.substrings || []).forEach(s => activeSubstrings.add(s.toLowerCase()));\n  (cfg.exactLocations || []).forEach(e => activeExactLocations.add(e.toLowerCase()));\n  (cfg.isoCodes || []).forEach(i => activeIsoCodes.add(i.toUpperCase()));\n}\n\n// Check if a single location string matches any user geography\nconst locationMatches = (locationString) => {\n  const loc = (locationString || '').toLowerCase().trim();\n  if (!loc) return false;\n  \n  if (activeExactLocations.has(loc)) return true;\n  \n  for (const c of activeCountries) {\n    if (loc === c || loc.startsWith(c + ',') || loc.endsWith(' ' + c) || loc.includes(', ' + c)) {\n      return true;\n    }\n  }\n  \n  for (const sub of activeSubstrings) {\n    if (loc.includes(sub)) return true;\n  }\n  \n  return false;\n};\n\n// Lever country code check — now dynamic from GEO_CONFIG\nconst countryCodeMatches = (countryCode) => {\n  if (!countryCode) return false;\n  return activeIsoCodes.has(countryCode.toUpperCase());\n};\n\n// Main geography matcher for Lever\nconst matchesGeography = (job) => {\n  if (countryCodeMatches(job.country)) return true;\n  \n  const primaryLocation = (job.categories && job.categories.location) || '';\n  if (locationMatches(primaryLocation)) return true;\n  \n  if (job.categories && Array.isArray(job.categories.allLocations)) {\n    for (const loc of job.categories.allLocations) {\n      if (locationMatches(loc)) return true;\n    }\n  }\n  \n  return false;\n};\n\nconst keywords = keywordsRaw\n  .split(',')\n  .map(k => k.trim().toLowerCase())\n  .filter(k => k.length > 0);\n\nconst jobs = allInputs.map(item => item.json);\n\nif (jobs.length === 0) {\n  return [{ json: { _empty: true, _company: companyName } }];\n}\n\nconst titleFiltered = jobs.filter(job => {\n  if (keywords.length === 0) return true;\n  const title = (job.text || '').toLowerCase();\n  return keywords.some(kw => title.includes(kw));\n});\n\nconst filtered = titleFiltered.filter(matchesGeography);\n\nif (filtered.length === 0) {\n  return [{ json: { _empty: true, _company: companyName } }];\n}\n\nconst fnv1aHash = (str) => {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = Math.imul(hash, 0x01000193);\n  }\n  return (hash >>> 0).toString(16).padStart(8, '0');\n};\n\nconst items = filtered.map(job => {\n  const title = job.text || 'Untitled';\n  const location = (job.categories && job.categories.location) || 'Not specified';\n  const applyLink = job.hostedUrl || job.applyUrl || '';\n  \n  let description = job.descriptionPlain || '';\n  if (Array.isArray(job.lists) && job.lists.length > 0) {\n    const listsText = job.lists.map(section => {\n      const header = section.text || '';\n      const content = (section.content || '')\n        .replace(/<li>/gi, '\\n- ')\n        .replace(/<\\/li>/gi, '')\n        .replace(/<[^>]+>/g, '')\n        .trim();\n      return header + '\\n' + content;\n    }).join('\\n\\n');\n    description = description + '\\n\\n' + listsText;\n  }\n  if (!description.trim()) {\n    description = '[Description not available]';\n  }\n  \n  let salaryNote = '';\n  if (job.salaryRange && job.salaryRange.min != null) {\n    const currency = job.salaryRange.currency || '';\n    const interval = job.salaryRange.interval || '';\n    salaryNote = `${currency} ${job.salaryRange.min.toLocaleString()} - ${job.salaryRange.max.toLocaleString()} ${interval}`.trim();\n  }\n  \n  if (salaryNote) {\n    description = description + '\\n\\nSalary: ' + salaryNote;\n  }\n  \n  const hashInput = `${title}|${companyName}|${applyLink}`;\n  const jobId = fnv1aHash(hashInput) + '-' + companyName.substring(0, 3).toLowerCase();\n  \n  return {\n    json: {\n      jobId: jobId,\n      jobTitle: title,\n      company: companyName,\n      location: location,\n      applyLink: applyLink,\n      jobDescription: description,\n      source: 'Lever',\n      sourceQuery: companyName,\n      sourceTag: 'Tracked Company',\n      discoveryDate: new Date().toISOString().split('T')[0]\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "c9a12685-d973-4f82-a2e2-e5d500559777",
      "name": "Parse & Filter Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -384
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "f1627bc5-8727-4ea2-a4ad-3b96fc6b7027",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1840,
        -384
      ],
      "webhookId": "c152b0b2-4005-4c9e-866a-7e7a4fca2460"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all company loops into a single deduplicated list\n// This runs after Loop Companies completes all iterations\n\nconst allItems = $input.all();\n\n// Filter out summary-only items (those with _empty flag) and keep real job items\nconst realJobs = allItems.filter(item => !item.json._empty && item.json.jobId);\n\n// In-memory deduplication by jobId (in case same job appeared in multiple companies, unlikely but defensive)\nconst seen = new Set();\nconst unique = [];\nfor (const item of realJobs) {\n  if (!seen.has(item.json.jobId)) {\n    seen.add(item.json.jobId);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "id": "534e2440-ffe8-4229-a9ba-b4471837f78c",
      "name": "Aggregate All Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tblqvCvqMIczRGjLi",
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tblqvCvqMIczRGjLi"
        },
        "options": {
          "fields": [
            "Job ID"
          ]
        }
      },
      "id": "67a389c2-abe2-46d5-b5ea-e59381ec01e9",
      "name": "Get Existing Job IDs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2192,
        -368
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter aggregated jobs against existing Job IDs in Pipeline (deduplication)\n\nconst aggregatedJobs = $('Aggregate All Jobs').all();\nconst existingRecords = $('Get Existing Job IDs').all();\n\nconst existingIds = new Set();\nfor (const record of existingRecords) {\n  let jobId = null;\n  if (record.json.fields && record.json.fields['Job ID']) {\n    jobId = record.json.fields['Job ID'];\n  } else if (record.json['Job ID']) {\n    jobId = record.json['Job ID'];\n  }\n  if (jobId) existingIds.add(jobId);\n}\n\nconst netNew = aggregatedJobs.filter(item => !existingIds.has(item.json.jobId));\n\n// Safety brake: cap at 100 new records per run\nif (netNew.length > 100) {\n  throw new Error(`Safety brake: ${netNew.length} net-new jobs exceeds 100 limit. Review your Tracked Companies title keywords — they may be too broad. Increase the cap in this Code node if this is intentional.`);\n}\n\nif (netNew.length === 0) {\n  return [{ json: { _empty: true, _message: `${aggregatedJobs.length} jobs found, all already in Pipeline` } }];\n}\n\nreturn netNew;"
      },
      "id": "6137e63e-1776-4a6a-90f7-1564d6233916",
      "name": "Deduplicate vs Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -368
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tblqvCvqMIczRGjLi",
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tblqvCvqMIczRGjLi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "={{ $json.jobId }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Company": "={{ $json.company }}",
            "Location": "={{ $json.location }}",
            "Apply Link": "={{ $json.applyLink }}",
            "Job Description": "={{ $json.jobDescription }}",
            "Source": "={{ $json.source }}",
            "Source Query": "={{ $json.sourceQuery }}",
            "Source Tag": "={{ $json.sourceTag }}",
            "Discovery Date": "={{ $json.discoveryDate }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Apply Link",
              "displayName": "Apply Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LinkedIn",
                  "value": "LinkedIn"
                },
                {
                  "name": "Indeed",
                  "value": "Indeed"
                },
                {
                  "name": "Glassdoor",
                  "value": "Glassdoor"
                },
                {
                  "name": "Google Jobs",
                  "value": "Google Jobs"
                },
                {
                  "name": "ZipRecruiter",
                  "value": "ZipRecruiter"
                },
                {
                  "name": "Greenhouse",
                  "value": "Greenhouse"
                },
                {
                  "name": "Ashby",
                  "value": "Ashby"
                },
                {
                  "name": "Lever",
                  "value": "Lever"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source Query",
              "displayName": "Source Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source Tag",
              "displayName": "Source Tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Discovery Date",
              "displayName": "Discovery Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Evaluated",
                  "value": "Evaluated"
                },
                {
                  "name": "Shortlisted",
                  "value": "Shortlisted"
                },
                {
                  "name": "Applied",
                  "value": "Applied"
                },
                {
                  "name": "Interview",
                  "value": "Interview"
                },
                {
                  "name": "Offer",
                  "value": "Offer"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fit Score",
              "displayName": "Fit Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fit Tier",
              "displayName": "Fit Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Match Reasoning",
              "displayName": "Match Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matched Skills",
              "displayName": "Matched Skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CV Tailoring Notes",
              "displayName": "CV Tailoring Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Salary Info",
              "displayName": "Salary Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Evaluation Cost",
              "displayName": "AI Evaluation Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Applied Date",
              "displayName": "Applied Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response Date",
              "displayName": "Response Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outcome Notes",
              "displayName": "Outcome Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tailored CV Text",
              "displayName": "Tailored CV Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CV Tailoring Cost",
              "displayName": "CV Tailoring Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tailored CV",
              "displayName": "Tailored CV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Interview Questions",
              "displayName": "Interview Questions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "STAR Responses",
              "displayName": "STAR Responses",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Interview Prep Cost",
              "displayName": "Interview Prep Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "6f8409c2-164f-4359-a4cc-87c515c0a233",
      "name": "Create Pipeline Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2848,
        -384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd687e2f-f8d4-49f0-8bcf-3a06dd200c9b",
              "name": "apiEndpoint",
              "value": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['API Endpoint'] : $('Get Tracked Companies').item.json['API Endpoint'] }}",
              "type": "string"
            },
            {
              "id": "ac290c14-c5d2-4acd-822c-c0efdaf76dd4",
              "name": "companyName",
              "value": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['Company Name'] : $('Get Tracked Companies').item.json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "dd725699-ddc3-40db-baf4-6c2c8aec2d84",
              "name": "titleKeywords",
              "value": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['Title Keywords'] : $('Get Tracked Companies').item.json['Title Keywords'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -384
      ],
      "id": "dc47ce69-cf89-4bed-8394-921c1aecafd6",
      "name": "Prepare Company Data"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        -176
      ],
      "id": "94fc9967-8523-47c5-8d65-3b5b249336c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('Get Tracked Companies').item.json.fields ? $('Get Tracked Companies').item.json.fields['API Endpoint'] : $('Get Tracked Companies').item.json['API Endpoint'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        -384
      ],
      "id": "eb4ef140-c037-45cc-a948-de91612debea",
      "name": "Fetch Lever API",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appE808oZ5gTSQzUY",
          "mode": "list",
          "cachedResultName": "Job Signal Engine",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY"
        },
        "table": {
          "__rl": true,
          "value": "tbl4hqn6sfFVbLuzd",
          "mode": "list",
          "cachedResultName": "Profile",
          "cachedResultUrl": "https://airtable.com/appE808oZ5gTSQzUY/tbl4hqn6sfFVbLuzd"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        -384
      ],
      "id": "a0481c49-4645-49fc-aa13-f0f32a396b51",
      "name": "Get Profile",
      "credentials": {
        "airtableTokenApi": {
          "id": "Ngaw78ZStScPicDq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c6d688e-20a7-4f55-981d-f55436d0e1bd",
              "leftValue": "={{ $json.jobId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        -368
      ],
      "id": "46fcb58c-4ea7-4c23-bd79-5d872db8e2f1",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tracked Companies": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Companies": {
      "main": [
        [
          {
            "node": "Aggregate All Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Filter Jobs": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Jobs": {
      "main": [
        [
          {
            "node": "Get Existing Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Job IDs": {
      "main": [
        [
          {
            "node": "Deduplicate vs Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate vs Pipeline": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Data": {
      "main": [
        [
          {
            "node": "Fetch Lever API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lever API": {
      "main": [
        [
          {
            "node": "Parse & Filter Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile": {
      "main": [
        [
          {
            "node": "Get Tracked Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Pipeline Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a0c72b5b-3b29-419c-a456-3190e1c7015e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7e19fca9705d4d0c36e6fe71822071e2ec1e1c76f266658ed6763dfc41db437"
  },
  "id": "DEi7EYXu29aKqLxk",
  "tags": []
}